Source: ipp-usb
Maintainer: Alexander Pevzner <pzz@apevzner.com>
Uploaders: Alexander Pevzner <pzz@apevzner.com>
Section: comm
Priority: optional
Build-Depends: debhelper (>= 11),
	       libusb-1.0-0-dev,
	       libavahi-common-dev,
	       libavahi-client-dev,
	       make,
	       pkg-config,
               golang-go,
Standards-Version: 4.2.1
Homepage: https://github.com/alexpevzner/ipp-usb

Package: ipp-usb
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Daemon for IPP over USB printer support
 ipp-usb is a userland driver for USB devices (printers, scanners, MFC),
 supporting the IPP over USB protocol. It enables these USB devices to
 be seen as regular network printers.
 .
 It is designed to be a replacement of ippusbxd daemon, previously
 used for this purpose. It has a greatly rethought architecture, in
 comparison with ippusbxd, and fixes all of its major flaws and issues.
